
.Base_Grade{border-color:#E4E4E4;}
.normal{border-color:#999999;}
.Industrial_Grade{border-color:#E4E4E4;}
.strange{border-color:#cc6633;}
.unusual{border-color:#8650AC;}
.Covert{border-color:#eb4b4b;}
.Classified{border-color:#eb4b4b;}
.High_Grade{border-color:#4b69ff;}
.Mil-Spec_Grade{border-color:#4b69ff;}
.Consumer_Grade{border-color:#b0c3d9;}
.Extraordinary{border-color:#eb4b4b;}
.Restricted{border-color:#8847ff;}


.Base_Grade_BG{background-color:#E4E4E4;}
.normal_BG{background-color:#cccccc;}
.Industrial_Grade_BG{background-color:#E4E4E4;}
.strange_BG{background-color:#ff9933;}
.unusual_BG{background-color:#8650AC;}
.Covert_BG{background-color:#eb4b4b;}
.Classified_BG{background-color:#eb4b4b;}
.High_Grade_BG{background-color:#4b69ff;}
.Mil-Spec_Grade_BG{background-color:#4b69ff;}
.Consumer_Grade_BG{background-color:#b0c3d9;}
.Extraordinary_BG{background-color:#eb4b4b;}
.Restricted_BG{background-color:#8847ff;}