@charset "UTF-8";
/* tf2endgame v3 css */
* {
	margin:0;
	padding:0;
}
/*a = bg, b = decorations*/
body{background-color:#333;}

.a440{background:#372a29;}
.b440{background:#C3394D;}/*#803020 old*/

.a570{background:#343e35;}
.b570{background:#7EA656;}

.a620{background:#393840;}
.b620{background:#ee8413;}


.a730{background:#373737;}
.b730{background:#70807F;}

.top-holder{
	margin-left:auto;
	margin-right:auto;
	width:960px;
	margin-top:16px;
	border-style:solid;
	border-color:#FFF;
	border-width: 1px 1px 0px;
	border-top-left-radius:16px;
	box-sizing:border-box;
}

.top-holder img{width:958px;float:left;}

.color-top{
	width:958px;
	height:44px;
	border-top-left-radius:16px;
}

input[type=submit], button, input[type=text], input[type=password]{
	background-color:#fff;
	border-style:solid;
	border-color:#666;
	border-width:1px;
}
input[type=submit]:hover{
	background-color:#f27800;
}
input[type=submit]:active{
	background-color:#666;
}

#bnr-txt{
float:left;
display:block;
position:relative;
top:16px;
left:16px;
color:#000;
font-size:32px;
height:0px;
font-weight:bold;
text-shadow:-1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

form{
margin:0;
padding:0;
}
.col2 form li{
	margin:4px;
}

.steamlogin{
display:inline-block;
right:0px;
bottom:0px;
}

#content{
font-family:times;
font-size:14px;
background-color:#EEE;
width:960px;
min-height:400px;
margin-left:auto;
margin-right:auto;
padding-top:16px;
padding-bottom:40px;
padding-left:16px;
padding-right:16px;
clear:both;
border-bottom-right-radius:16px;
border-color:#fff;
border-width:1px;
border-style:solid;
border-top-width:0px;
box-sizing:border-box;
}


.cf:before,
.cf:after {
content:" "; /* 1 */
display:table; /* 2 */
}

.cf:after {
clear:both;
}

/**
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.cf {
*zoom:1;
clear:both;
}

.ddinput{
width:3em;
}

.tbpad td,th{padding:8px;}

#nav {
height:18px;
margin:0px;
padding:0px;
list-style-type:none;
text-align:center;
width:958px;
list-style:none;
clear:both;
z-index:2;
}

#nav ul{
float:right;
}
#nav li {
float:left;
display:inline-block;
position:relative;
color:#fff;
background:#555;
width:144px;
height:18px;
}
#nav a{
color:#fff;
}

#nav li:hover {
background:#666;
}

#nav li ul {
padding:0;
position:absolute;
top:16px;
display:none;
opacity:0;
visibility:hidden;
}
#nav li ul li {
margin: 2px 0px -2px;
padding:2px 0px 2px;
background:#555;
display:inline-block;
}

#nav li ul .listend{
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
height:16px;
}

#nav li:hover ul {
display:block;
opacity:1;
visibility:visible;
}

.news{background:#e3ff87; padding:8px;width:916px;}

.bugreports{
	height:440px;
	overflow:scroll;
}

.col1{
width:928px;
}

.col2{
width:424px;
padding:16px;
padding-top:36px;
margin-top:16px;
margin-bottom:32px;
background: #c3394d; /* Old browsers */
background: linear-gradient(to bottom, rgba(195,57,77,1) 0px,rgba(195,57,77,1) 0px,rgba(195,57,77,1) 32px,rgba(91,90,91,1) 32px,rgba(196,194,196,0) 36px);
}

.col2-content{margin:16px;width:392px;min-height:30px;}

.lt{float:left;}
.rt{float:right;}

.preftable{
width:100%;
text-align:center;
}
.scanSubmit{
width:928px;
height:300px;
resize:none;
border-width:1px;
border-style:solid;
border-color:#666;
box-sizing: border-box;
}
footer{
padding-top:8px;
padding-bottom:8px;
border-top-left-radius:16px;
border-bottom-right-radius:16px;
text-align:center;
margin-top:44px;
margin-left:auto;
margin-right:auto;
margin-bottom:16px;
color:#fff;
width:198px;
height:6.5em;
border-width:1px;
border-style:solid;
border-color:#fff;
}
footer a{color:#fff;}
.pdata{
position:relative;
top:-64px;
clear:both;
overflow:hidden;
left:80px;
width:128px;
}
.lk{
width:16px;
height:16px;
display:inline-block;
background-repeat:no-repeat;
}
.wlist_rb{
position:relative;
left:50%;
top:50%;
}

.bpi{background:url('/img/ss.png') 0px 0px;}
.stati{background:url('/img/ss.png') -16px 0px;}
.addi{background:url('/img/ss.png') -32px 0px;}
.f2p{background:url('/img/ss.png') -48px 0px;}
.jns{background:url('/img/ss.png') 0px -16px;}
.profilelinkicon{display:inline-block;width:16px; height:16px; min-width:16px; min-height:16px; background:url('/img/ss.png') 0px -32px; margin-right:4px;}

td{
padding:0px;
padding-bottom:16px;
}
.pinf{
display:inline-block;
height:64px;
width:205px;
}
.pinf .avatar{
position:relative;
top:0px;
left:0px;
width:62px;
height:62px;
border-style:solid;
border-width:1px;
border-radius:5px;
}
.pname{
width:128px;
height:1em;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
-o-text-overflow:ellipsis;
}
.spc{width:16px;}
.pinf .game{
border-color:#2A2;
color:#2A2;
}
.pinf .off{
border-color:#202020;
color:#202020;
}
.pinf .on{
border-color:#39F;
color:#39F;
}
.sres{
border-spacing:0px;
border-collapse:separate;
padding:0px;
width:928px;
}

.sres tr {
height:64px;
}

/*.pitms{
width:723px;
}*/

.zitms{
width:704px;
padding-top:16px;
padding-bottom:16px;
height:30px;
background-color:#cc3333;
border-color:#660000;
border-width:1px;
border-style:solid;
text-align:center;
font-size:24px;
color:white;
border-radius:1px;
margin-left:16px;
}

a{text-decoration:none; color:#f27800; }

.nitms {
width:704px;
padding-top:16px;
padding-bottom:16px;
height:30px;
border-color:#660000;
border-width:1px;
border-style:solid;
text-align:center;
font-size:24px;
border-radius:1px;
margin-left:16px;
}

.icount{
position:absolute;
top:2px;
right:4px;
width:0px;
float:right;
direction:rtl;
color:#000;
}

.pitms img{
height:62px;
width:62px;
border-width:1px;
border-style:solid;
border-radius:2px;
}

.pitms div{
margin-left:16px;
position:relative;
display:inline-block;
}

.notice {
width:100%;
padding-top:16px;
padding-bottom:16px;
margin-top:16px;
margin-bottom:16px;
text-align:center;
color:#fff;
border-radius:16px;
}
.good{
background:#00c47e;
}
.bad{
background:#a32725;
}


.imgmsg {
position:absolute;
width:63px;
bottom:5px;
right:1px;
border-radius:1px;
text-align:center;
}

.login_notice{
width: 50%;
height: 100%;
text-align: center;
margin-top: 16px;
font-size: 44px;
}


.ct{
margin-left:auto;
margin-right:auto;
}

.w800{width:800px;}

.toggleDiv{display:none;}

.bp-content div{
position:relative;
display:inline-block;
}

.bp-content img{
height:62px;
width:62px;
margin-left:16px;
margin-top:16px;
border-width:1px;
border-style:solid;
border-radius:2px;
}

.profileItems{
position:relative;
left:-16px;
}

.hline{
margin-left:16px;
margin-top:16px;
}
.bp-mplaced{
border-radius:16px;
padding: 0px 72px 16px 64px;
margin-left:16px;
border-style:dashed;
border-color:#333;
}

/*background: #cc0000;
background: -moz-linear-gradient(top, #cc0000 18%, #ff9900 19%, #ff9900 36%, #ffff00 37%, #ffff00 52%, #009933 53%, #009933 68%, #0066ff 69%, #0066ff 84%, #660099 86%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#cc0000), color-stop(19%,#ff9900), color-stop(36%,#ff9900), color-stop(37%,#ffff00), color-stop(52%,#ffff00), color-stop(53%,#009933), color-stop(68%,#009933), color-stop(69%,#0066ff), color-stop(84%,#0066ff), color-stop(86%,#660099));
background: -webkit-linear-gradient(top, #cc0000 18%,#ff9900 19%,#ff9900 36%,#ffff00 37%,#ffff00 52%,#009933 53%,#009933 68%,#0066ff 69%,#0066ff 84%,#660099 86%);
background: -o-linear-gradient(top, #cc0000 18%,#ff9900 19%,#ff9900 36%,#ffff00 37%,#ffff00 52%,#009933 53%,#009933 68%,#0066ff 69%,#0066ff 84%,#660099 86%);
background: -ms-linear-gradient(top, #cc0000 18%,#ff9900 19%,#ff9900 36%,#ffff00 37%,#ffff00 52%,#009933 53%,#009933 68%,#0066ff 69%,#0066ff 84%,#660099 86%);
background: linear-gradient(to bottom, #cc0000 18%,#ff9900 19%,#ff9900 36%,#ffff00 37%,#ffff00 52%,#009933 53%,#009933 68%,#0066ff 69%,#0066ff 84%,#660099 86%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#660099',GradientType=0 );*/

.gp-rb{
background:#5760e5; /* Old browsers */
background:-moz-linear-gradient(top, #5760e5 0%, #5760e5 60%, #d6d6d6 65%, #e8e8e8 93%, #cccccc 100%); /* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#5760e5), color-stop(60%,#5760e5), color-stop(65%,#d6d6d6), color-stop(93%,#e8e8e8), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background:-webkit-linear-gradient(top, #5760e5 0%,#5760e5 60%,#d6d6d6 65%,#e8e8e8 93%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top, #5760e5 0%,#5760e5 60%,#d6d6d6 65%,#e8e8e8 93%,#cccccc 100%); /* Opera 11.10+ */
background:-ms-linear-gradient(top, #5760e5 0%,#5760e5 60%,#d6d6d6 65%,#e8e8e8 93%,#cccccc 100%); /* IE10+ */
background:linear-gradient(to bottom, #5760e5 0%,#5760e5 60%,#d6d6d6 65%,#e8e8e8 93%,#cccccc 100%); /* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5760e5', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
border-radius:4px;
}

.playerItem{
height:62px;
width:62px;
}
/*item stuff */
.warn1{
background-image:url(/img/w_1.png);
background-repeat:no-repeat;
}
.warn2{
background-image:url(/img/w2.png);
background-repeat:no-repeat;
}
.warn3{
background-image:url(/img/w3.png);
background-repeat:no-repeat;
}
.uc{
background-image:url(/img/uc.gif);
background-repeat:no-repeat;
}
.ut{
background-image:url(/img/ut.gif);
background-repeat:no-repeat;
}

.mt{border-color:#444444;}